/* make it look nice */

body {
  color: rgb(215, 224, 221);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}

/* The heading should be red and cursive */
h1 {
  color: rgb(108, 187, 196);
  border: 10px solid black;
  text-align: center;
}

h2 {
  text-align: center;
}

#gif {
  display: block;
  text-align: center;
  margin: auto;
  width: 50%;
}

.center {
  margin: auto;
  width: 50%;
}

.tenor-gif-embed {
  display: inline-block;
  margin: auto;
  width: 50%;
}