/* make it look nice */

#intro {
  background-color: blueviolet;
  color: white;
  text-align: center;
}

body {
  color: black;
  background-size: cover;
}

img {
  display: block;
  margin: auto;
}

/* The heading should be red and cursive */
h1 {
  color: red;
  font-family: cursive;
  text-align: center;

}
