<!-- Extends 'base.html' to make 'index.html' official HTML compliant -->
{% extends 'base.html' %}

{% block body %}
<div class="center">
    <h1> {{ section }}</h1>
    <h2>{{ subtitle }}</h2>

    <!-- Shows image below the heading -->
    <img src="https://media.giphy.com/media/Y3TRqTGdysJqkOizDF/giphy-downsized.gif">
    <br /><br />

    <!-- Search box and search buttons -->
    <div id="search_box" class="text-center">
        <div id="presetbuttons" class="text-center"></div>
            <form action="/">
                <input type="search" placeholder="Search GIFs      " name="search" id="search">
                <button type="submit" name="request" value="search" class="btn btn-outline-danger btn-lg">Search</button><br />
                
                <!-- Buttons for trending, random, and drag race -->
                <div class="btn-group m-1" role="group" aria-label="second group">
                    <button type="submit" name="request" value="random" class="btn btn-outline-dark btn-lg">Random</button> &nbsp;
                    <button type="submit" name="request" value="trending" class="btn btn-outline-dark btn-lg">Trending</button> &nbsp;
                    <button type="submit" name="request" value="rpdr" class="btn btn-outline-dark btn-lg">RPDR</button> &nbsp;
                </div>
            </form>
        </div>
    </div>
</div>

<br />
<br />

<div class="container">
    <!-- If results != 0, for each gif, include the 'gif.html' template to display it, else display error message -->
    {% if gif_output|length != 0  %}
        <div class="row justify-content-center">
            {% for gif in gif_output %}
                <div class="span4">
                    {% include 'gif.html' %} &nbsp;&nbsp;&nbsp;
                </div>
            {% endfor %}
        </div> 
    {% else %}
        No results found.  Please try another search.
    {% endif %}
</div>
<!-- This code is used to create a 3 by 3 grid of the GIFS -->
<!-- <div class="container">
    <div class="row">
        <div class="col-sm">
        Column 1 row 1
        </div>
        <div class="col-sm">
        column 2 row 1
         </div>
         <div class="col-sm">
        column 3 row 1
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
              Column 1 row 2
        </div>
        <div class="col-sm">
              column 2 row 2
         </div>
        <div class="col-sm">
              column 3 row 2
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
             Column 1 row 3
         </div>
        <div class="col-sm">
            column 2 row 3
          </div>
         <div class="col-sm">
             column 3 row 3
         </div>
    </div>
  </div> -->

{% endblock %}
