<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}

{% block title %}
    GIF Search !
{% endblock %}

<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string. The form should have a target of '/' to
    send us to the same route. -->
{% block content %}
<h1> {{ section }}</h1>
<h2>{{ subtitle }}</h2>

<div id="intro">
    {{ stuff|safe }}
</div>

<!-- The search bar. Inside the search bar it says "Search GIF's" with button-->
<!-- <div class="topnav">
  <div class="search-container">
      <input type="text" placeholder="Search GIF's" name="search">
      <button type="submit" value="Submit"></button>
  </div>
</div> -->
<form>
    <input type="search" value="Search GIF's"><button type="submit" value="Search"></button>
</form>


<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->

<!-- TODO: For each gif, include the 'gif.html' template to display it -->

<div id="gif">
    {% for gif in gif_output %}
        {% include 'gif.html' %}
    {% endfor %}
</div>

{% endblock %}
