<!-- Extends 'base.html' to make 'index.html' official HTML compliant -->
{% extends 'base.html' %}

{% block body %}
<h1> {{ section }}</h1>
<!-- Changes the font of the heading -->
<link href="https://fonts.googleapis.com/css?family=Faster+One&display=swap" rel="stylesheet"
<!-- Shows image below the heading -->
<img src="https://media.giphy.com/media/Y3TRqTGdysJqkOizDF/giphy-downsized.gif" rel="stylesheet">

<h2>{{ subtitle }}</h2>

<div id="intro">
    <!-- Intro text, with safe filter to bypass auto-escaping HTML in stuff -->
    {{ stuff|safe }}
</div>
<br /><br />

<!-- Search box and search button -->
<div id="search_box" class="text-center">
    <!-- Input box for GIF query -->
    <form action="/">
        <input type="search" placeholder="Search GIFs" name="search">
        <button type="submit">Search</button>
    </form>
</div>
<!-- Buttons for trending, random, and drag race -->
<div id="presetbuttons" class="text-center">
    <form action="/trending">
        <button type="button" formaction="/" class="btn btn-primary btn-lg btn-dark">Trending</button>
        <button type="button" formation="/" class="btn btn-primary btn-lg btn-dark">Random</button>
        <button type="button" formaction="/" class="btn btn-primary btn-lg btn-dark">Drag Race</button>
    </form>
</div>
<br />
<br />
<br />

<div id="gif">
    <!-- If results != 0, for each gif, include the 'gif.html' template to display it, else display error message -->

    {% if gif_output|length  %}
        {% for gif in gif_output %}
            {% include 'gif.html' %}<br /><br />
        {% endfor %}
    {% else %}
        No results found.  Please try another search.
    {% endif %}
    
</div>

{% endblock %}
